## Why mongodb
- Mongodb is a no-sql db
- In mysql the schema is very strict
- In mongo schema is not strict its dynamic. Its not strict because the data is stored in the form of json.
- because of this json format, the retrival of data becomes fast, so performance will be good.
- mongo is scalable

- If lot of transactions need to happen(like in banking sector) then dont use mongodb
- In simple words if we want a strict schema its better to use RDBMS like mysql

In [4]:
#install pymongo module using "pip install pymongo"
import pymongo   #importing pymongo module
client = pymongo.MongoClient('mongodb://localhost:27017')  #connecting to client
mydb = client['Employee']   #creating new database, can be seen only after inserting collections
employeeInfo = mydb.employeeInformation #creating new collection

In [19]:
record = [{
        'firstName':'Tony',
        'lastName':'Stark',
        'age':25,
        'department':'AI',
        'qualification':'Masters'
    },
    {
        'firstName':'Ben',
        'lastName':'Tennyson',
        'age':22,
        'department':'Alien Technology',
        'qualification':'Graduation'
    },
    {
        'firstName': 'Gwen',
        'lastName': 'Tennyson',
        'age':21,
        'department': 'Research',
        'qualification': 'Graduation'
    }
]  #new json record, using list to store multiple json records in same variable 

employeeInfo.insert_many(record) #inserting data into the collection
# If we execute this again duplicate records will be created ****

InsertManyResult([ObjectId('65fae72c066699bd2603f282'), ObjectId('65fae72c066699bd2603f283'), ObjectId('65fae72c066699bd2603f284')], acknowledged=True)

In [8]:
employeeInfo.find_one() #returns first record from the employeeInfo collection

{'_id': ObjectId('65fad1bbfdbb1a52ec87c55e'),
 'firstName': 'Tony',
 'lastName': 'Stark',
 'department': 'AI'}

In [12]:
for record in employeeInfo.find():
    print(record)
#returns all the records from the employeeInfo collection

{'_id': ObjectId('65fad1bbfdbb1a52ec87c55e'), 'firstName': 'Tony', 'lastName': 'Stark', 'department': 'AI'}
{'_id': ObjectId('65fad1bbfdbb1a52ec87c55f'), 'firstName': 'Ben', 'lastName': 'Tennyson', 'department': 'wepons'}
{'_id': ObjectId('65fad1bbfdbb1a52ec87c560'), 'firstName': 'Gwen', 'lastName': 'Tennyson', 'department': 'Research'}

In [13]:
#query json document based on equality condition
#select * from employeeInformation where firstName = 'Tony'
for record in employeeInfo.find({'firstName':'Tony'}):
    print(record)

{'_id': ObjectId('65fad1bbfdbb1a52ec87c55e'), 'firstName': 'Tony', 'lastName': 'Stark', 'department': 'AI'}

In [20]:
#query documents using query operators ($in, $lt, $gt)
# select * from employeeInfo where department = 'AI' or 'Research'

for record in employeeInfo.find({'department':{'$in':['AI', 'Research']}}):
    print(record)

{'_id': ObjectId('65fad7a5fdbb1a52ec87c562'), 'firstName': 'Tony', 'lastName': 'Stark', 'age': 25, 'department': 'AI'}
{'_id': ObjectId('65fad7a5fdbb1a52ec87c564'), 'firstName': 'Gwen', 'lastName': 'Tennyson', 'age': 21, 'department': 'Research'}

In [10]:
# and, less than query
# department is Research and age is less than 25
for record in employeeInfo.find({'department':'Research', 'age':{'$lt':25}}):
    print(record)

{'_id': ObjectId('65fad7a5fdbb1a52ec87c564'), 'firstName': 'Gwen', 'lastName': 'Tennyson', 'age': 21, 'department': 'Research'}

In [17]:
# select record with age > 23
for record in employeeInfo.find({'age':{'$gt':23}}):
    print(record)

{'_id': ObjectId('65fad7a5fdbb1a52ec87c562'), 'firstName': 'Tony', 'lastName': 'Stark', 'age': 25, 'department': 'AI'}

In [12]:
#or operation
# select records with firstName gwen or Tony
for record in employeeInfo.find({'$or':[{'firstName':'Gwen'},{'firstName':'Tony'}]}):
    print(record)

{'_id': ObjectId('65fad7a5fdbb1a52ec87c562'), 'firstName': 'Tony', 'lastName': 'Stark', 'age': 25, 'department': 'AI'}
{'_id': ObjectId('65fad7a5fdbb1a52ec87c564'), 'firstName': 'Gwen', 'lastName': 'Tennyson', 'age': 21, 'department': 'Research'}

In [20]:
#and operation
#select records with first name is ben and department is weapons
for record in employeeInfo.find({'$and':[{'firstName':'Ben'},{'department':'Alien Technology'}] }):
    print(record)

{'_id': ObjectId('65fae72c066699bd2603f283'), 'firstName': 'Ben', 'lastName': 'Tennyson', 'age': 22, 'department': 'Alien Technology', 'qualification': 'Graduation'}

In [21]:
#creating inventory collection
inventory= mydb.inventory

In [22]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [32]:
#extracting nexted data from json document
for record in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(record)

{'_id': ObjectId('65fae818066699bd2603f285'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}